.blog {
  font-size: 1.1rem;
  font-weight: 400;
  color: #222; }

.blog .container {
  max-width: 500px;
  padding: 0 20px; }
  @media only screen and (min-width: 768px) {
    .blog .container {
      padding: 0 30px;
      max-width: 700px; } }

.blog {
  line-height: 1.6rem; }

@media only screen and (min-width: 768px) {
  .blog .page-wrapper {
    margin-top: 1.5rem; } }

.blog h2 {
  margin-bottom: 1rem; }

.blog h3 {
  font-size: 1.4rem;
  font-weight: 900; }
  @media only screen and (min-width: 768px) {
    .blog h3 {
      font-size: 1.5rem; } }

.blog .post-date {
  color: #636779; }

.blog .entry {
  margin-top: 1.5rem; }

.blog .cta {
  color: #636779; }
  @media only screen and (max-width: 767px) {
    .blog .cta {
      margin: 1.5rem 0; } }

@media only screen and (max-width: 767px) {
  .blog .footer {
    margin: 0; } }

@media only screen and (max-width: 767px) {
  .blog .footer .footer-right {
    display: none; } }
