.blog {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #222; }

.blog .nav-item {
  padding-left: 10px; }

.blog .container {
  max-width: 500px;
  padding: 0 20px; }
  @media only screen and (min-width: 768px) {
    .blog .container {
      padding: 0 30px;
      max-width: 700px; } }

@media only screen and (min-width: 768px) {
  .blog .page-wrapper {
    margin-top: 1.5rem; } }

.blog h2 {
  margin-bottom: 1rem; }

.blog h3 {
  font-size: 1.4rem;
  font-weight: 900; }
  @media only screen and (min-width: 768px) {
    .blog h3 {
      font-size: 1.5rem; } }

.blog .post-date {
  color: #636779; }

.blog .entry {
  margin-top: 1.5rem; }

.blog .entry img {
  margin: 1.5rem 0 0.5rem 0;
  width: 100%; }

.blog .cta {
  color: #636779; }
  @media only screen and (max-width: 767px) {
    .blog .cta {
      margin: 1.5rem 0; } }

@media only screen and (max-width: 767px) {
  .blog .footer {
    margin: 0; } }

@media only screen and (max-width: 767px) {
  .blog .footer .footer-right {
    display: none; } }

.blog-preview-list h2 {
  margin-bottom: 2rem; }

.blog-preview-list h3 {
  margin-bottom: 0; }

.blog-preview-list h3 a {
  color: #383B49; }

.blog-preview-list p {
  margin-top: 1rem; }

.blog-preview {
  margin: 3rem 0; }

.blog table {
  margin: 0 auto 2rem auto; }

.blog th, .blog td {
  text-align: right;
  padding: 0.2rem 0.6rem; }

.blog td:first-child {
  text-align: left; }

@media only screen and (max-width: 767px) {
  .blog table {
    font-size: 0.9rem;
    line-height: 1.2rem; }
  .blog th, .blog td {
    padding: 0.6rem; } }

.blog .image-medium {
  text-align: center; }

.blog .image-medium img {
  max-width: 500px; }
