// @import "bulma/sass/utilities/initial-variables.sass";

@import "normalize.css";
@import "variables";

body {
  background: url("../images/hexagons.png");
  background-position-x: -115px;
  background-repeat: no-repeat;
  background-size: 1450px;
}

.container {
  margin: 0 auto;
  max-width: 500px;
}

.section {
  text-align: left;
  margin: 140px 0;
  padding: 20px;
  overflow: hidden;
}

// @media only screen and (min-width: 500px) and (max-width: 767px) {
//   .section {
//     text-align: center;
//     max-width: 400px;
//     margin: 0 auto;
//   }
// }

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 10px;
    max-width: 880px;
  }

  .section {
    margin: 180px 0;
    text-align: center;
  }

  .one-third-box {
    width: 33%;
    padding-right: 20px;
    box-sizing: border-box;
    float: left;
  }

  .one-third-box:last-child {
    padding-right: 0;
  }
}

@import "typography";
@import "components";
@import "nav";
@import "hero";

.how-it-works .one-third-box {
  padding-top: 25px;
  display: flex;
  flex-direction: row-reverse;
}

.how-it-works-icon {
  position: relative;
  top: 10px;
  float: right;
  margin-left: 20px;
}

.how-it-works-icon img {
  position: relative;
  top: 30px;
}

.floating-number {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 1.3rem;
  font-weight: 900;
  color: #E5E9FF;
}

@media only screen and (min-width: 768px) {
  .how-it-works .one-third-box {
    flex-direction: column;
  }

  .how-it-works-icon {
    float: none;
    margin-left: 0;
    top: 0;
  }

  .how-it-works-icon img {
    top: auto;
  }

  .floating-number {
    top: -20px;
    right: auto;
  }
}