@import "normalize.css";
@import "variables";

.main-background {
  background: url("../images/big-hexagons.png");
  background-position-x: -115px;
  background-repeat: no-repeat;
  background-size: 1450px;
}

.clear-fix {
  clear: both;
}

.container {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 20px;
  @media only screen and (min-width: 768px) {
    padding: 0 30px;
    max-width: 880px;
  }
}

.section {
  text-align: left;
  margin: 60px 0;
  padding: 20px 0;
  overflow: hidden;
  @media only screen and (min-width: 768px) {
    text-align: center;
  }
}

.how-it-works-boxes {
  display: flex;
  flex-direction: column;
}

.how-it-works-box {
  flex: 1;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .how-it-works-box {
    margin: 0 10px;
  }

  .how-it-works-box:first-child {
    margin-left: 0;
  }
  .how-it-works-box:last-child {
    margin-right: 0;
  }

  .how-it-works-boxes {
    flex-direction: row;
  }
}

@import "typography";
@import "components";
@import "nav";
@import "hero";

.how-it-works-icon {
  position: relative;
  top: 6px;
  float: right;
  margin-right: 20px;
}

.how-it-works-icon img {
  position: relative;
  top: 30px;
  width: 5rem;
}

.floating-number {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 1.3rem;
  font-weight: 900;
  color: #E5E9FF;
}

@media only screen and (min-width: 768px) {
  .how-it-works-box {
    flex-direction: column;
  }

  .how-it-works-icon {
    float: none;
    margin-right: 0;
    top: 0;
  }

  .how-it-works-icon img {
    top: auto;
  }

  .floating-number {
    top: -20px;
    left: auto;
  }
}

.small-hexagons {
  background:  url("../images/little-hexagons.png") bottom no-repeat;
  background-position-y: 600px;
}

.small-hexagons-rotated {
  background:  url("../images/little-hexagons-rotated.png") bottom no-repeat;
}

.small-hexagons-gradient {
  background:  linear-gradient(rgba(255, 255, 255, 0) 75%, rgba(245, 246, 255, 1)) no-repeat;
}

.small-hexagons-rotated-gradient {
  background:  linear-gradient(rgba(245, 246, 255, 1), rgba(255, 255, 255, 0) 75%) no-repeat;
}

.compatibility-badge {
  margin: 40px 0;
  width: 100%;
}

.compatibility-badge img {
  width: 400px;
  max-width: 90%;
}

.screenshot {
  margin: 60px 0;
  width: 100%;
  text-align: center;
}

.screenshot img {
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  max-width: 90%;
}

.small-hexagons .section {
  margin-bottom: 0;
}

.small-hexagons-rotated .section {
  margin-top: 0;
  padding-top: 80px;
}

.features-bg .section {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.features-bg {
  background-color: rgba(245, 246, 255, 1);
}

.feature-boxes {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: -24px;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -36px;
  }
}

.feature-box {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0;
  @media only screen and (min-width: 768px) {
    flex-direction: column;
    text-align: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px 10px;
  }
}

.feature-icon {
  display: flex;
  align-items: center;
  padding-left: 30px;
  @media only screen and (min-width: 768px) {
    padding-left: 0;
  }
}

.statuses-table {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.status-row {
  flex: 1;
  padding: 12px 0;
  text-align: left;
  display: flex;
  @media only screen and (min-width: 768px) {
    padding: 12px;
  }
}

.status-details p {
  margin: 0.5rem 0;
}

.status-details {
  flex: 1;
  padding-left: 1.5rem;
}

.status {
  display: flex;
  align-items: center;
  min-width: 175px;
}

.status img {
  max-width: 95%;
}

.language-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.language-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px;
  margin: 10px;
  min-width: 90px;
  max-width: 126px;
  height: 120px;
  @media only screen and (min-width: 768px) {
    flex: 1;
  }
}

.language-icon {
  text-align: left;
  top: 0;
}

.language-icon img {
  width: 50px;
}

.language-caveat {
  position: relative;
  bottom: -20px;
  height: 40px;
  font-size: 0.8em;
  color: #b6b6b6;
}

.language-name {
  font-weight: 400;
}

.customers-bg .section {
  margin-bottom: 0;
  padding-bottom: 60px;
}

.customers-bg {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(245, 246, 255, 1)) no-repeat;
}

.customer-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.customer-logo {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  text-align: center;
  width: 80px;
  height: 40px;
  position: relative;
  float: none;
  padding: 0 20px;
  @media only screen and (min-width: 768px) {
    height: 72px;
    width: 140px;
    padding: 0 40px;
    margin: 30px 0px;
  }
}

.customer-logo a {
  height: 100%;
}

.customer-logo img {
  position: relative;
  top: auto;
  width: 100%;
  height: 100%;
}

.customers p {
  @media only screen and (min-width: 768px) {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.2rem;
  }
}

.customers p:last-child {
  margin-bottom: 0;
}

.pricing-bg .section {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 60px;
}

.pricing-bg {
  background-color: rgba(245, 246, 255, 1);
}

.pricing-boxes {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.pricing-box {
  background-color: #fff;
  margin: 10px 0;
  padding: 7px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  @media only screen and (min-width: 768px) {
  margin: 10px;
    text-align: center;
    max-width: 215px;
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .pricing-box:first-child {
    margin-left: auto;
  }
  .pricing-box:last-child {
    margin-right: auto;
  }
}

.plan-name {
  margin: 10px;
  display: block;
  @media only screen and (min-width: 768px) {
    height: 50px;
    margin: 0;
  }
}

.plan-details p {
  margin: 10px;
  max-width: 300px;
  flex: 1;
  @media only screen and (min-width: 768px) {
    margin: 0.5rem 0;
  }
}

.price {
  margin: auto 20px auto 0;
  min-width: 80px;
  font-size: 2.5rem;
  color: $text-muted;
  font-weight: 400;
  display: flex;
  text-align: right;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    text-align: center;
    margin: 60px 0px 20px;
    font-size: 4.5rem;
    display: block;
  }
}

.price .month {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0px 0px;
  @media only screen and (min-width: 768px) {
    margin: 40px 0px 20px;
  }
}

.get-started-bg .section {
  margin-top: 0;
}

.get-started-bg {
  background: linear-gradient(rgba(245, 246, 255, 1), rgba(255, 255, 255, 0)) no-repeat;
}

.get-started h2 {
  margin-bottom: 0;
}

.get-started p {
  max-width: 500px;
  margin: 15px auto 20px auto;
}

.footer {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.footer-left {
  @media only screen and (min-width: 768px) {
    float: left;
  }
}

@media only screen and (max-width: 767px) {
  .footer-right {
    margin: 15px 0;
    max-width: 200px;
    a {
      margin: 5px 0;
      display: block;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-right {
    margin: 0;
    float: right;
    a {
      margin-right: 0px;
      margin-left: 20px;
      display: inline;
    }
  }
}
