// Layout variables partial

$section-padding: 60px 0;

section.intro, section.features-extra, section.pricing {
	background: $section-light;
}
section.features, section.blog-intro, section.blog, section.sign-up {
	background: $section-dark;
}
