---
layout: default
---

<article>
  <header>
    <h2>{{ page.title }}</h2>
    <span class="post-date"><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
</header>

  <div class="entry">{{ content }}</div>
  <div class="cta">
    <p>Dependabot helps keep your dependencies up-to-date. It's free for personal accounts and open source, and always will be.</p>
    <a class="button primary" href="#">Find out more</a>
    <a class="button" href="#">Take me to the app</a>
  </div>
</article>
