---
layout: default
---

<article>
  <header>
    <h2>{{ page.title }}</h2>
    <span class="post-date"><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
</header>

  <div class="entry">{{ content }}</div>
  <div class="section cta">
    <p>Dependabot makes it easy to keep your Ruby, JavaScript and PHP dependencies up-to-date.</p>
    <a class="button primary" href="//dependabot.com">Find out more</a>
    <a class="button" href="//app.dependabot.com/auth/sign-up">Take me to the app</a>
  </div>
</article>
